[submodule "reader/reader"]
	path = reader/reader
	url = https://github.com/tparsons9/obsidian-zotero-reader.git
[submodule "zotflow-enhancement-pack"]
	path = zotflow-enhancement-pack
	url = https://github.com/duanxianpi/zotflow-enhancement-pack.git
